.vs/slnx.sqlite,.vs/
ItAcademyHomework/.vs/
ItAcademyHomework/HW1/obj/yHomework/HW1/obj/
ItAcademyHomework/HW1/bin/
ItAcademyHomework/HW2_task1/obj/
ItAcademyHomework/HW1/obj/
ItAcademyHomework/HW2_task1/bin/
ItAcademyHomework/HW2_task2/obj/
.vs/slnx.sqlite,.vs/VSWorkspaceState.json
.vs/
