.vs/slnx.sqlite,.vs/
ItAcademyHomework/TestProtection/
ItAcademyHomework/Test/
ItAcademyHomework/HW2_task4/bin/
ItAcademyHomework/HW2_task4/obj/
ItAcademyHomework/HW2_task3/obj/
ItAcademyHomework/HW2_task3/bin/
ItAcademyHomework/HW2_task2/obj/
ItAcademyHomework/HW2_task2/bin/
ItAcademyHomework/HW2_task1/obj/
ItAcademyHomework/HW2_task1/bin/
ItAcademyHomework/HW1_task3/bin/
ItAcademyHomework/HW1_task2/bin/
ItAcademyHomework/HW1_task1/obj/
ItAcademyHomework/HW1_task1/bin/
ItAcademyHomework/.vs/
.vs/
ItAcademyHomework/HW1_task3/obj/
ItAcademyHomework/HW1_task2/obj/
ItAcademyHomework/Taxi_company/obj/
ItAcademyHomework/Taxi_company/bin/
ItAcademyHomework/HW4_TextParse/obj/
ItAcademyHomework/HW2_task1/HW2_task1.csproj.user
ItAcademyHomework/HW4_TextParse/bin/
