.vs/slnx.sqlite,.vs/
ItAcademyHomework/.vs/
ItAcademyHomework/HW1/obj/yHomework/HW1/obj/
ItAcademyHomework/HW1/bin/
ItAcademyHomework/HW2_task1/obj/
ItAcademyHomework/HW1/obj/
ItAcademyHomework/HW2_task1/bin/
ItAcademyHomework/HW2_task2/obj/
.vs/slnx.sqlite,.vs/VSWorkspaceState.json
.vs/
ItAcademyHomework/HW1_task1/obj/HW1_task1.csproj.nuget.dgspec.json
ItAcademyHomework/HW1_task1/obj/HW1_task1.csproj.nuget.g.props
ItAcademyHomework/HW1_task1/obj/HW1_task1.csproj.nuget.g.targets
ItAcademyHomework/HW1_task1/obj/project.assets.json
ItAcademyHomework/HW1_task1/obj/project.nuget.cache
ItAcademyHomework/HW1_task1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ItAcademyHomework/HW1_task1/obj/Debug/net5.0/apphost.exe
ItAcademyHomework/HW1_task1/obj/Debug/net5.0/HW1_task1.AssemblyInfo.cs
ItAcademyHomework/HW1_task1/obj/Debug/net5.0/HW1_task1.AssemblyInfoInputs.cache
ItAcademyHomework/HW1_task1/obj/Debug/net5.0/HW1_task1.assets.cache
ItAcademyHomework/HW1_task1/obj/Debug/net5.0/HW1_task1.csproj.CoreCompileInputs.cache
ItAcademyHomework/HW1_task1/obj/Debug/net5.0/HW1_task1.csproj.FileListAbsolute.txt
ItAcademyHomework/HW1_task1/obj/Debug/net5.0/HW1_task1.dll
ItAcademyHomework/HW1_task1/obj/Debug/net5.0/HW1_task1.GeneratedMSBuildEditorConfig.editorconfig
ItAcademyHomework/HW1_task1/obj/Debug/net5.0/HW1_task1.genruntimeconfig.cache
ItAcademyHomework/HW1_task1/obj/Debug/net5.0/HW1_task1.pdb
ItAcademyHomework/HW1_task1/obj/Debug/net5.0/ref/HW1_task1.dll
ItAcademyHomework/HW1_task1/bin/Debug/net5.0/HW1_task1.deps.json
ItAcademyHomework/HW1_task1/bin/Debug/net5.0/HW1_task1.dll
ItAcademyHomework/HW1_task1/bin/Debug/net5.0/HW1_task1.exe
ItAcademyHomework/HW1_task1/bin/Debug/net5.0/HW1_task1.pdb
ItAcademyHomework/HW1_task1/bin/Debug/net5.0/HW1_task1.runtimeconfig.dev.json
ItAcademyHomework/HW1_task1/bin/Debug/net5.0/HW1_task1.runtimeconfig.json
ItAcademyHomework/HW1_task1/bin/Debug/net5.0/ref/HW1_task1.dll
ItAcademyHomework/HW1_task2/obj/HW1_task2.csproj.nuget.dgspec.json
ItAcademyHomework/HW1_task2/obj/HW1_task2.csproj.nuget.g.props
ItAcademyHomework/HW1_task2/obj/HW1_task2.csproj.nuget.g.targets
ItAcademyHomework/HW1_task2/obj/project.assets.json
ItAcademyHomework/HW1_task2/obj/project.nuget.cache
ItAcademyHomework/HW1_task2/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ItAcademyHomework/HW1_task2/obj/Debug/net5.0/apphost.exe
ItAcademyHomework/HW1_task2/obj/Debug/net5.0/HW1_task2.AssemblyInfo.cs
ItAcademyHomework/HW1_task2/obj/Debug/net5.0/HW1_task2.AssemblyInfoInputs.cache
ItAcademyHomework/HW1_task2/obj/Debug/net5.0/HW1_task2.assets.cache
ItAcademyHomework/HW1_task2/obj/Debug/net5.0/HW1_task2.csproj.CoreCompileInputs.cache
ItAcademyHomework/HW1_task2/obj/Debug/net5.0/HW1_task2.csproj.FileListAbsolute.txt
ItAcademyHomework/HW1_task2/obj/Debug/net5.0/HW1_task2.dll
ItAcademyHomework/HW1_task2/obj/Debug/net5.0/HW1_task2.GeneratedMSBuildEditorConfig.editorconfig
ItAcademyHomework/HW1_task2/obj/Debug/net5.0/HW1_task2.genruntimeconfig.cache
ItAcademyHomework/HW1_task2/obj/Debug/net5.0/HW1_task2.pdb
ItAcademyHomework/HW1_task2/obj/Debug/net5.0/ref/HW1_task2.dll
ItAcademyHomework/HW1_task2/bin/Debug/net5.0/HW1_task2.deps.json
ItAcademyHomework/HW1_task2/bin/Debug/net5.0/HW1_task2.dll
ItAcademyHomework/HW1_task2/bin/Debug/net5.0/HW1_task2.exe
ItAcademyHomework/HW1_task2/bin/Debug/net5.0/HW1_task2.pdb
ItAcademyHomework/HW1_task2/bin/Debug/net5.0/HW1_task2.runtimeconfig.dev.json
ItAcademyHomework/HW1_task2/bin/Debug/net5.0/HW1_task2.runtimeconfig.json
ItAcademyHomework/HW1_task2/bin/Debug/net5.0/ref/HW1_task2.dll
ItAcademyHomework/HW1_task3/bin/Debug/net5.0/HW1_task3.deps.json
ItAcademyHomework/HW1_task3/bin/Debug/net5.0/HW1_task3.dll
ItAcademyHomework/HW1_task3/bin/Debug/net5.0/HW1_task3.exe
ItAcademyHomework/HW1_task3/bin/Debug/net5.0/HW1_task3.pdb
ItAcademyHomework/HW1_task3/bin/Debug/net5.0/HW1_task3.runtimeconfig.dev.json
ItAcademyHomework/HW1_task3/bin/Debug/net5.0/HW1_task3.runtimeconfig.json
ItAcademyHomework/HW1_task3/bin/Debug/net5.0/ref/HW1_task3.dll
ItAcademyHomework/HW1_task3/obj/HW1_task3.csproj.nuget.dgspec.json
ItAcademyHomework/HW1_task3/obj/HW1_task3.csproj.nuget.g.props
ItAcademyHomework/HW1_task3/obj/HW1_task3.csproj.nuget.g.targets
ItAcademyHomework/HW1_task3/obj/project.assets.json
ItAcademyHomework/HW1_task3/obj/project.nuget.cache
ItAcademyHomework/HW1_task3/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ItAcademyHomework/HW1_task3/obj/Debug/net5.0/apphost.exe
ItAcademyHomework/HW1_task3/obj/Debug/net5.0/HW1_task3.AssemblyInfo.cs
ItAcademyHomework/HW1_task3/obj/Debug/net5.0/HW1_task3.AssemblyInfoInputs.cache
ItAcademyHomework/HW1_task3/obj/Debug/net5.0/HW1_task3.assets.cache
ItAcademyHomework/HW1_task3/obj/Debug/net5.0/HW1_task3.csproj.CoreCompileInputs.cache
ItAcademyHomework/HW1_task3/obj/Debug/net5.0/HW1_task3.csproj.FileListAbsolute.txt
ItAcademyHomework/HW1_task3/obj/Debug/net5.0/HW1_task3.dll
ItAcademyHomework/HW1_task3/obj/Debug/net5.0/HW1_task3.GeneratedMSBuildEditorConfig.editorconfig
ItAcademyHomework/HW1_task3/obj/Debug/net5.0/HW1_task3.genruntimeconfig.cache
ItAcademyHomework/HW1_task3/obj/Debug/net5.0/HW1_task3.pdb
ItAcademyHomework/HW1_task3/obj/Debug/net5.0/ref/HW1_task3.dll
ItAcademyHomework/HW2_task2/bin/Debug/net5.0/HW2_task2.deps.json
ItAcademyHomework/HW2_task2/bin/Debug/net5.0/HW2_task2.dll
ItAcademyHomework/HW2_task2/bin/Debug/net5.0/HW2_task2.exe
ItAcademyHomework/HW2_task2/bin/Debug/net5.0/HW2_task2.pdb
ItAcademyHomework/HW2_task2/bin/Debug/net5.0/HW2_task2.runtimeconfig.dev.json
ItAcademyHomework/HW2_task2/bin/Debug/net5.0/HW2_task2.runtimeconfig.json
ItAcademyHomework/HW2_task2/bin/Debug/net5.0/ref/HW2_task2.dll
ItAcademyHomework/HW2_task3/bin/Debug/net5.0/HW2_task3.deps.json
ItAcademyHomework/HW2_task3/bin/Debug/net5.0/HW2_task3.dll
ItAcademyHomework/HW2_task3/bin/Debug/net5.0/HW2_task3.exe
ItAcademyHomework/HW2_task3/bin/Debug/net5.0/HW2_task3.pdb
ItAcademyHomework/HW2_task3/bin/Debug/net5.0/HW2_task3.runtimeconfig.dev.json
ItAcademyHomework/HW2_task3/bin/Debug/net5.0/HW2_task3.runtimeconfig.json
ItAcademyHomework/HW2_task3/bin/Debug/net5.0/ref/HW2_task3.dll
ItAcademyHomework/HW2_task3/obj/HW2_task3.csproj.nuget.dgspec.json
ItAcademyHomework/HW2_task3/obj/HW2_task3.csproj.nuget.g.props
ItAcademyHomework/HW2_task3/obj/HW2_task3.csproj.nuget.g.targets
ItAcademyHomework/HW2_task3/obj/project.assets.json
ItAcademyHomework/HW2_task3/obj/project.nuget.cache
ItAcademyHomework/HW2_task3/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ItAcademyHomework/HW2_task3/obj/Debug/net5.0/apphost.exe
ItAcademyHomework/HW2_task3/obj/Debug/net5.0/HW2_task3.AssemblyInfo.cs
ItAcademyHomework/HW2_task3/obj/Debug/net5.0/HW2_task3.AssemblyInfoInputs.cache
ItAcademyHomework/HW2_task3/obj/Debug/net5.0/HW2_task3.assets.cache
ItAcademyHomework/HW2_task3/obj/Debug/net5.0/HW2_task3.csproj.AssemblyReference.cache
ItAcademyHomework/HW2_task3/obj/Debug/net5.0/HW2_task3.csproj.CoreCompileInputs.cache
ItAcademyHomework/HW2_task3/obj/Debug/net5.0/HW2_task3.csproj.FileListAbsolute.txt
ItAcademyHomework/HW2_task3/obj/Debug/net5.0/HW2_task3.dll
ItAcademyHomework/HW2_task3/obj/Debug/net5.0/HW2_task3.GeneratedMSBuildEditorConfig.editorconfig
ItAcademyHomework/HW2_task3/obj/Debug/net5.0/HW2_task3.genruntimeconfig.cache
ItAcademyHomework/HW2_task3/obj/Debug/net5.0/HW2_task3.pdb
ItAcademyHomework/HW2_task3/obj/Debug/net5.0/ref/HW2_task3.dll
ItAcademyHomework/HW2_task4/bin/Debug/net5.0/HW2_task4.deps.json
ItAcademyHomework/HW2_task4/bin/Debug/net5.0/HW2_task4.dll
ItAcademyHomework/HW2_task4/bin/Debug/net5.0/HW2_task4.exe
ItAcademyHomework/HW2_task4/bin/Debug/net5.0/HW2_task4.pdb
ItAcademyHomework/HW2_task4/bin/Debug/net5.0/HW2_task4.runtimeconfig.dev.json
ItAcademyHomework/HW2_task4/bin/Debug/net5.0/HW2_task4.runtimeconfig.json
ItAcademyHomework/HW2_task4/bin/Debug/net5.0/ref/HW2_task4.dll
ItAcademyHomework/HW2_task4/obj/HW2_task4.csproj.nuget.dgspec.json
ItAcademyHomework/HW2_task4/obj/HW2_task4.csproj.nuget.g.props
ItAcademyHomework/HW2_task4/obj/HW2_task4.csproj.nuget.g.targets
ItAcademyHomework/HW2_task4/obj/project.assets.json
ItAcademyHomework/HW2_task4/obj/project.nuget.cache
ItAcademyHomework/HW2_task4/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ItAcademyHomework/HW2_task4/obj/Debug/net5.0/apphost.exe
ItAcademyHomework/HW2_task4/obj/Debug/net5.0/HW2_task4.AssemblyInfo.cs
ItAcademyHomework/HW2_task4/obj/Debug/net5.0/HW2_task4.AssemblyInfoInputs.cache
ItAcademyHomework/HW2_task4/obj/Debug/net5.0/HW2_task4.assets.cache
ItAcademyHomework/HW2_task4/obj/Debug/net5.0/HW2_task4.csproj.AssemblyReference.cache
ItAcademyHomework/HW2_task4/obj/Debug/net5.0/HW2_task4.csproj.CoreCompileInputs.cache
ItAcademyHomework/HW2_task4/obj/Debug/net5.0/HW2_task4.csproj.FileListAbsolute.txt
ItAcademyHomework/HW2_task4/obj/Debug/net5.0/HW2_task4.dll
ItAcademyHomework/HW2_task4/obj/Debug/net5.0/HW2_task4.GeneratedMSBuildEditorConfig.editorconfig
ItAcademyHomework/HW2_task4/obj/Debug/net5.0/HW2_task4.genruntimeconfig.cache
ItAcademyHomework/HW2_task4/obj/Debug/net5.0/HW2_task4.pdb
ItAcademyHomework/HW2_task4/obj/Debug/net5.0/ref/HW2_task4.dll
ItAcademyHomework/Test/Program.cs
ItAcademyHomework/Test/Test.csproj
ItAcademyHomework/Test/bin/Debug/net5.0/Test.deps.json
ItAcademyHomework/Test/bin/Debug/net5.0/Test.dll
ItAcademyHomework/Test/bin/Debug/net5.0/Test.exe
ItAcademyHomework/Test/bin/Debug/net5.0/Test.pdb
ItAcademyHomework/Test/bin/Debug/net5.0/Test.runtimeconfig.dev.json
ItAcademyHomework/Test/bin/Debug/net5.0/Test.runtimeconfig.json
ItAcademyHomework/Test/bin/Debug/net5.0/ref/Test.dll
ItAcademyHomework/Test/obj/project.assets.json
ItAcademyHomework/Test/obj/project.nuget.cache
ItAcademyHomework/Test/obj/Test.csproj.nuget.dgspec.json
ItAcademyHomework/Test/obj/Test.csproj.nuget.g.props
ItAcademyHomework/Test/obj/Test.csproj.nuget.g.targets
ItAcademyHomework/Test/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ItAcademyHomework/Test/obj/Debug/net5.0/apphost.exe
ItAcademyHomework/Test/obj/Debug/net5.0/Test.AssemblyInfo.cs
ItAcademyHomework/Test/obj/Debug/net5.0/Test.AssemblyInfoInputs.cache
ItAcademyHomework/Test/obj/Debug/net5.0/Test.assets.cache
ItAcademyHomework/Test/obj/Debug/net5.0/Test.csproj.AssemblyReference.cache
ItAcademyHomework/Test/obj/Debug/net5.0/Test.csproj.CoreCompileInputs.cache
ItAcademyHomework/Test/obj/Debug/net5.0/Test.csproj.FileListAbsolute.txt
ItAcademyHomework/Test/obj/Debug/net5.0/Test.dll
ItAcademyHomework/Test/obj/Debug/net5.0/Test.GeneratedMSBuildEditorConfig.editorconfig
ItAcademyHomework/Test/obj/Debug/net5.0/Test.genruntimeconfig.cache
ItAcademyHomework/Test/obj/Debug/net5.0/Test.pdb
ItAcademyHomework/Test/obj/Debug/net5.0/ref/Test.dll
ItAcademyHomework/TestProtection/Program.cs
ItAcademyHomework/TestProtection/TestProtection.csproj
ItAcademyHomework/TestProtection/bin/Debug/net5.0/TestProtection.deps.json
ItAcademyHomework/TestProtection/bin/Debug/net5.0/TestProtection.dll
ItAcademyHomework/TestProtection/bin/Debug/net5.0/TestProtection.exe
ItAcademyHomework/TestProtection/bin/Debug/net5.0/TestProtection.pdb
ItAcademyHomework/TestProtection/bin/Debug/net5.0/TestProtection.runtimeconfig.dev.json
ItAcademyHomework/TestProtection/bin/Debug/net5.0/TestProtection.runtimeconfig.json
ItAcademyHomework/TestProtection/bin/Debug/net5.0/ref/TestProtection.dll
ItAcademyHomework/TestProtection/obj/project.assets.json
ItAcademyHomework/TestProtection/obj/project.nuget.cache
ItAcademyHomework/TestProtection/obj/TestProtection.csproj.nuget.dgspec.json
ItAcademyHomework/TestProtection/obj/TestProtection.csproj.nuget.g.props
ItAcademyHomework/TestProtection/obj/TestProtection.csproj.nuget.g.targets
ItAcademyHomework/TestProtection/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ItAcademyHomework/TestProtection/obj/Debug/net5.0/apphost.exe
ItAcademyHomework/TestProtection/obj/Debug/net5.0/TestProtection.AssemblyInfo.cs
ItAcademyHomework/TestProtection/obj/Debug/net5.0/TestProtection.AssemblyInfoInputs.cache
ItAcademyHomework/TestProtection/obj/Debug/net5.0/TestProtection.assets.cache
ItAcademyHomework/TestProtection/obj/Debug/net5.0/TestProtection.csproj.AssemblyReference.cache
ItAcademyHomework/TestProtection/obj/Debug/net5.0/TestProtection.csproj.CoreCompileInputs.cache
ItAcademyHomework/TestProtection/obj/Debug/net5.0/TestProtection.csproj.FileListAbsolute.txt
ItAcademyHomework/TestProtection/obj/Debug/net5.0/TestProtection.dll
ItAcademyHomework/TestProtection/obj/Debug/net5.0/TestProtection.GeneratedMSBuildEditorConfig.editorconfig
ItAcademyHomework/TestProtection/obj/Debug/net5.0/TestProtection.genruntimeconfig.cache
ItAcademyHomework/TestProtection/obj/Debug/net5.0/TestProtection.pdb
ItAcademyHomework/TestProtection/obj/Debug/net5.0/ref/TestProtection.dll
